.footer-container{
    margin-top: 150px;
}
.container1 {
    display: flex;
}

.img-footer {
    width: 50%;
    margin-left: 51px;
}

.container-redes {
    width: 50%;
    margin-left: 150px;
}

.img-redes {
    padding-right: 15px;
}

.link-footer {
    display: flex;
    
}

.links {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}