.footer-container {
    margin-top: 150px;
}

.container1 {
    display: flex;
    border-bottom: 1px solid rgb(133, 129, 129);
    margin-left: 50px;
    margin-right: 219px;
}

.img-footer {
    width: 50%;
    margin-left: 51px;
}

.container-redes {
    width: 50%;
    margin-left: 600px;
}

.img-redes {
    padding-right: 15px;
}

.link-footer {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.title2 {
    font-size: 20px;
    color: rgb(192, 195, 197);
    font-weight: 200;
    padding-left: 50px;
}

.footerlink {
    text-decoration: none;
    cursor: pointer;
    color: rgb(3, 3, 3);
    font-weight: 600;
    padding-left: 50px;
}