
.container-cardsinfo{
    display: flex;
}
.card{
    width: 192px;
    border: 1px solid red;
    height: 200px;
}
.rallita2 {
    border-bottom: 2px solid rgb(112, 104, 104);
    width: 100px;
    padding-top: 70px;
}