.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 15px;
}

.nav_items .link{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(139, 115, 115);
    font-weight: 500;
    position: relative;
    margin: 15px;
    cursor: pointer;
}

.link:hover {
    color: rgb(8, 8, 49);
}

.link-menu {
    border: 1px solid rgb(8, 8, 49);
    color: rgb(8, 8, 49);
    background: white;
    padding: 5px;
}

.link-menu:hover {
    background: rgb(8, 8, 49);
    color: aliceblue;
}

.nav_toggle {
    display: none;
}

/*mobile*/
@media (min-width: 770px) {
    .header {
        display: flex;
    }
}

@media (max-width: 770px) {
    .nav_items{
        margin-top: 30px;
    }
    .nav_items {
        position: absolute;
        margin-top: 30px;
        margin: 0;
        display: flex;
        left: 0;
        border: none;
        background: rgb(8, 8, 49);
        flex-direction: column;
        width: 100%;
        transition: 0.3s ease all;
        color: aliceblue;
        font-weight: 400;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    .nav_items.open{
        transform: translateX(0) !important;
    }
    .nav_toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }
    .nav_toggle span {
        width: 30px;
        height: 4px;
        background: rgb(70, 63, 63);
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open >  span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}